# Server
PORT=3000
SESSION_SECRET=ganti_dengan_string_acak_yang_panjang

# Database PostgreSQL
DB_NAME=tiketopia
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

# Nodemailer (contoh pakai Gmail App Password)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=akun_email_pengirim@gmail.com
MAIL_PASSWORD=app_password_16_digit
MAIL_FROM="Tiketopia" <akun_email_pengirim@gmail.com>
